@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Collection 1 - Mode 1 */
:root {
  --primary-font: 'Albert Sans', serif;
  --primary-color: rgba(35, 131, 226, 1);
  --secondary-color: rgba(169, 169, 169, 1);
  --text-color: rgba(255, 255, 255, 1);
  --random-color-1: rgba(157, 53, 163, 1);
  --random-color-2: rgba(172, 111, 111, 1);
  --random-color-3: rgba(172, 222, 73, 1);
  --table-bg-dark: rgba(47, 47, 47, 1);
  --border-color: rgba(55, 55, 55, 1);
  --bg-color: rgba(25, 25, 25, 1);
}

* {
  font-family: var(--primary-font);
}
